body {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgb(43, 43, 43),
    rgb(100, 100, 100)
  );
}
h1 {
  margin-top: 0em;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.61);
  color: rgb(250, 248, 248);
  font-size: 4em;
  text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}
input {
  height: 50px;
  width: 200px;
  margin: 10px;
  font-size: 28px;
  border: 2px solid rgba(255, 255, 255, 0.925);
  background-color: black;
  color: rgb(255, 255, 255);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebyside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 20px;
  background-color: black;
  color: rgba(255, 255, 255, 0.733);
  border: 2px solid rgba(255, 255, 255, 0.925);
}
.center > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.61);
}

.list > h2 {
  font-size: 2em;
  text-decoration: underline;
}

.list > ol {
  font-size: 20px;
  line-height: 30px;
}
